<div *ngIf="status" [className]="statusClass" role="alert">
  {{messageStatus}}
</div>

<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Item ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">State</th>
        <th scope="col">Won At</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listItems">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td><span class="badge badge-success">Won</span></td>
        <td>{{item.auction_end}}</td>
        <td><a type="button" class="btn btn-info" [routerLink]="['/costumer/bill/',item.id]">Bill</a></td>
        <td><a type="button" class="btn btn-outline-info" (click)="requestEmail(item.id)">Bill via email</a></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
