<div *ngIf="!createForm.valid" class="alert alert-warning mt-2" role="alert">
  Please provide the right information
</div>
<div *ngIf="status" [className]="statusClass" class="" role="alert">
  {{message}}
</div>
<div class="card">
  <div class="card-header card-title">
    Create an auction
    <div class="float-right">
      <a class="badge badge-info mt-2" routerLink="/auction">Return</a>
    </div>
  </div>
  <div class="card-body">
    <app-form-auction [typeForm]="'Create Item'" [createForm]="createForm"
                      (newItemEvent)="createProduct($event)"></app-form-auction>
  </div>
</div>
