<section class="mb-4">
  <h5 class="font-weight-bold mb-3">Filters</h5>
  <form class="form-signin" [formGroup]="sideForm">
    <div class="row ">
      <div class="col-md-10">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by name" formControlName="name">
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by description" formControlName="description">
        </div>
        <button class="btn btn-outline-secondary btn-block" type="button" (click)="search()">Search</button>
        <button class="btn btn-outline-secondary btn-block" type="button" [routerLink]="['/auction']">Clear Search</button>

      </div>
    </div>

  </form>
</section>

